body{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:#333;
            text-align:left;
            font-size:14px;
            margin:0;
        }
        .container{
            margin:0 auto;
          /*  margin-top:35px;
            padding:40px;
            width:750px;*/
            height:auto;
            background-color:#fff;
        }
        .table{
            border:1px solid #333;
            border-collapse:collapse;
            margin:0 auto;
            width: 50%; 
        }
        td, tr, th{
            padding:10px;
            border:0px solid #333;
        }
        th{
            background-color: #f0f0f0;
        }
        h4{
            margin:0px 0px 0px 0px;
            font-size:15px;
        }
        h5{
            margin-bottom: 15px;
            font-size:13px;
        }
        hr{
          border-top: 2px double #ddd;
          border: 1px solid #000;
          width: 100%;
        }